.intro {
  flex-direction: column;
  margin-top: 3em;
  display: flex;
  align-items: center;
}

.introName {
  font-size: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar {
  margin-top: 1em;
  background-image: url("../../data/headshot.png");
  background-repeat: no-repeat;
  background-position: -9px 0px;
  background-size: 180px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.introTitle {
  margin-top: 0.5em;
  font-size: 1.5em;

}

.introDescription {
  font-size: 1rem;
  max-width: 600px;
}

.introDescription,
.introLinks {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.introLinks {
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}